<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User info</title>
</head>
<body>
    <a href="/dashboard/">Go To Bright Ideas</a>
    <a href="/logout/">Logout</a>
    <h1>User info</h1>
    <h3>Name: @ViewBag.person.name</h3>
    <h3>Alias: @ViewBag.person.alias</h3>
    <h3>Email: @ViewBag.person.email</h3>
    <h3>Total Number of Posts: @ViewBag.postcount</h3>
    <h3>Total Number of Likes: @ViewBag.likecount</h3>

</body>
</html>